body {
    background-color: tomato;
}

h1 {
    text-shadow: 2px 2px 8px grey;
    font-family: fantasy;
}
.carousel {
    box-shadow: 2px 2px 8px black;
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}

p.overview {
    font-size: 1.5rem;
}

hr.bottom {
    margin-bottom: 15rem;
}